@import "../../Style/colors.css";

.main {
  padding: 2vh 0 8vh 0;
}

.main__title {
  color: var(--main-font-color);
  margin-top: 0;
}

.main__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
